@use "@sass-palette/hope-config";

.vp-portfolio {
  // expand media icons
  .vp-portfolio-medias .vp-portfolio-media {
    width: 2.5rem;
    height: 2.5rem;

    .icon {
      font-size: 1.5rem;
    }
  }

  // expand content
  .theme-hope-content {
    --content-width: min(84%, 1200px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: hope-config.$laptop) {
      font-size: 18px;
    }

    @media (max-width: hope-config.$mobile) {
      font-size: 14px;
    }

    .vp-experiences {
      align-self: stretch;
    }

    > {
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 1rem;
        border-bottom: none;
        text-align: center;

        .header-anchor {
          background: linear-gradient(
              var(--theme-color-border),
              var(--theme-color-border)
            )
            no-repeat;
          /*调整下划线的宽度占百分之百  高度是1px */
          background-size: calc(100% + 0.1em) 0.2em;
          /* 调整下划线的起始位置 左侧是0 上边是1.15em */
          background-position: -0.1em calc(100% - 0.05em);
          text-shadow: 0.05em 0 var(--bg-color), -0.05em 0 var(--bg-color);

          &::before,
          &::after {
            position: relative;
            content: "";
            display: inline-block;
            width: 0.1em;

            height: 0.2em;
            bottom: 0.05em;
            background-color: var(--theme-color-border);
            vertical-align: text-bottom;
          }

          &::before {
            left: -0.1em;
            border-radius: 0.2em 0 0 0.2em;
          }

          &::after {
            border-radius: 0 0.2em 0.2em 0;
            right: -0.1em;
          }
        }
      }

      h2 {
        font-size: 2.5rem;

        @media (max-width: hope-config.$mobile) {
          font-size: 2rem;
        }
      }

      h3 {
        font-size: 2rem;

        @media (max-width: hope-config.$mobile) {
          font-size: 1.75rem;
        }
      }
    }
  }
}
